@{
    ViewData["Title"] = "Home Page";
}

<h2>Bem-vindo, @ViewBag.UsuarioNome!</h2>

<form asp-controller="Home" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>

<script src="~/js/prevent-back-cache.js"></script>